In [1]:
# pip install mysql-connector

In [2]:
import mysql.connector

In [3]:
mydb=mysql.connector.connect(host='localhost',user='root',password='Prasad@143')

In [4]:
(mydb.connection_id)

24

### Create Database in Python

In [5]:
cur=mydb.cursor()

In [ ]:
cur.execute('create database DB1')

### Create Table in Python

In [6]:
import mysql.connector

In [7]:
mydb=mysql.connector.connect(
        host='localhost',
        user='root',
        password='Prasad@143',
        database='db1')

In [8]:
cur=mydb.cursor()

In [ ]:
s='create table student(stud_id integer(6),F_name varchar(10),L_name varchar(10),Address varchar(10),City varchar(10))'

In [ ]:
cur.execute(s)

## Insert Single Record in Table

In [ ]:
i='insert into student(stud_id,F_name,L_name,Address,City) values(%s,%s,%s,%s,%s)'

In [ ]:
r=(3281,'Prasad','Garudkar','Viman_N','Pune')

In [ ]:
cur.execute(i,r)

In [ ]:
mydb.commit()

## Insert Multiple Records in MySql  Table

In [ ]:
students=[(111,'Pravin','Nirdi','Andheri','Mumbai'),(112,'Sanket','Pawar','Pawdewadi','Nanded'),
         (113,'Ganesh','Kale','Yash Nagri','Nanded'),(114,'Sandy','Gacche','Cidco','Nanded'),
         (115,'Parashar','Joshi','Ganesh_N','Pune'),(116,'Abhijeet','Udawant','Deccan','Pune')]

In [ ]:
cur.executemany(i,students)

In [ ]:
mydb.commit()

## Extracting Data from table

In [ ]:
s='select * from student'
cur.execute(s)
result=cur.fetchall()
for i in result:
    print(i)

## Update Table Record

In [18]:
rec= "UPDATE student SET City='Nanded' WHERE F_name='Pravin'"

In [19]:
cur.execute(rec)

In [20]:
mydb.commit()

## Delete Record from Table

In [21]:
dell="DELETE from student where F_name='Sandy'"

In [22]:
cur.execute(dell)

In [23]:
mydb.commit()