### Connect MySQL

In [1]:
import numpy as np
import mysql.connector

In [2]:
mydb=mysql.connector.connect(host='localhost',user='root',password='Prasad@143')

In [3]:
print(mydb.connection_id)

20

In [19]:
# also Go to Command Line Client & Enter your Password
# show the status using (status) command.

## Create Database

In [4]:
cur=mydb.cursor()

In [5]:
cur.execute('create database python_db')

In [20]:
# also Go to Command Line Client
# show the All Databases using (show databases;) command.

## Create Table in Python Database

In [6]:
mydb=mysql.connector.connect(host='localhost',user='root',password='Prasad@143',database='python_db')

In [7]:
cur=mydb.cursor()

In [23]:
# Go to Command Line Client
# show the All Databases using (show databases;) command.
# and use your New Created Database like(use python_db;) command
# show the Desc of your selected database using (desc python_db;) command

In [8]:
table='CREATE TABLE book(book_id integer(6),title varchar(20),price float(5,2))'

In [9]:
cur.execute(table)

In [24]:
# Go to Command Line Client
# show the Tables of your selected Databases using (show tables;) command.

## Inserting Data into Table

In [10]:
ins='insert into book(book_id,title,price) values(%s,%s,%s)'

In [11]:
data=(235,'Python',320)

In [12]:
cur.execute(ins,data)

In [13]:
mydb.commit()

In [25]:
# Go to Command Line Client
# show the records in your created Table using (select * from tablename;) command.

## Inserting Multiple Records

In [14]:
books=[(121,'Java',230),(121,'Java',230),(121,'RDBMS',243.20),(121,'Oracle',500),(121,'C++',450),(121,'HTML',300),(121,'R',330)]

In [15]:
cur.executemany(ins,books)

In [16]:
mydb.commit()

In [26]:
# Go to Command Line Client
# show the multiple records in your created Table using (select * from tablename;) command.

## Extracting Data from table

In [17]:
ext='select * from book'
cur.execute(ext)
result=cur.fetchall()
for i in result:
    print(i)

(235, 'Python', 320.0)
(121, 'Java', 230.0)
(121, 'Java', 230.0)
(121, 'RDBMS', 243.2)
(121, 'Oracle', 500.0)
(121, 'C++', 450.0)
(121, 'HTML', 300.0)
(121, 'R', 330.0)

## Update Table Record

In [27]:
pric_update='UPDATE book SET price=price+20 WHERE price>400'

In [28]:
cur.execute(pric_update)

In [29]:
mydb.commit()

In [30]:
# Go to Command Line Client
# show the Updated records in your created Table using (select * from tablename;) command.

## Delete Record from Table

In [33]:
del_reco="DELETE from book WHERE title='Java'"

In [34]:
cur.execute(del_reco)

In [35]:
mydb.commit()

In [36]:
# Go to Command Line Client
# show the records which you r deleted (select * from tablename;) command.